body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.iframe-container {
	position: relative;
	width: 100%;
	height: 100vh;
}

iframe {
	position: absolute;
	padding-top: 50px;
	top: 0;
	left: 0;
	width: 100%;
	height: 107%;
}