<!-- Sidebar  -->
<nav id="sidebar">
	<div id="dismiss">
		<i class="fas fa-arrow-left"></i>
	</div>
	<div class="sidebar-header">
		MЕНЮ
	</div>
	<ul class="list-unstyled components">
		<p>СИСТЕМЫ</p>
		<li class="active">
			<a href="#HIM" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
				<i class="fas fa-home"></i>
				Экспресс-анализы
			</a>
			<ul class="collapse show list-unstyled" id="HIM">
				<li class="active_EMES">
					<a href="report.php?report_id=3">ЖОФ №1</a>
				</li>
				<li>
					<a href="report.php?report_id=4">ЖОФ №2</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#MSR" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
				<i class="fas fa-copy"></i>
				Мониторинг содержания руды (РКС)
			</a>
			<ul class="collapse show list-unstyled" id="MSR">
				<li>
					<a href="report.php?report_id=1">БОФ</a>
				</li>
				<li>
					<a href="report.php?report_id=2">КОФ</a>
				</li>
				<li>
					<a href="report.php?report_id=8">р.Нурказган</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#SD" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
				<i class="fas fa-copy"></i>
				ScaleData (Конв.весы)
			</a>
			<ul class="collapse show list-unstyled" id="SD">
				<li>
					<a href="report.php?report_id=5">КОФ</a>
				</li>
				<li>
					<a href="report.php?report_id=6">НОФ</a>
				</li>
				<li>
					<a href="report.php?report_id=7">р.Нурказган</a>
				</li>
			</ul>
		</li>		
		<li>
			<a href="report.php?report_id=9"><i class="fas fa-copy"></i> ScaleMonitor</a>
		</li>		
		<li>
			<a href="report.php?report_id=10"><i class="fas fa-copy"></i> WorkMonitor</a>
		</li>						
		<li>
			<a href="#WEBCAM" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
				<i class="fas fa-copy"></i>
				Видеокамеры ЖОФ123
			</a>
			<ul class="collapse show list-unstyled" id="WEBCAM">
				<li>
					<a href="ipcamera.php?plant_branch_id=1">ГК1</a>
				</li>
				<li>
					<a href="ipcamera.php?plant_branch_id=2">ГК2</a>
				</li>
				<li>
					<a href="ipcamera.php?plant_branch_id=3">КД1</a>
				</li>
				<li>
					<a href="ipcamera.php?plant_branch_id=4">КД2</a>
				</li>						
			</ul>
		</li>	
	</ul>
</nav>